<html lang="en">
  {{!-- HEAD --}}
{{>head}}
  <body>
    {{!-- Navbar --}}
  

  {{>navbar}}
    {{!-- BODY --}}
    <div class="container">
    {{{body}}}
    </div>


{{!-- FOOTER --}}
    {{>footer}}
  </body>
</html>