<div class="w-50 m-auto mt-5">

  <form action="/login" method="post">
    <h3 class="text-center">Login</h3>
    {{#if isLoginError}}
      <div class="alert alert-danger" role="alert">
        {{isLoginError}}
      </div>
    {{/if}}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        name="email"
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        name="password"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>