<h1>products</h1>

<div>
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {{#if products.length}}
      {{#each products}}
          <div class="col">
            <div class="card shadow-sm">
                <img src={{img}} alt="#alt">
              <div class="card-body">
                <p class="card-text">{{description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >View</button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >Edit</button>
                  </div>
                  <small class="text-body-secondary"></small>
                </div>
              </div>
            </div>
          </div>
      {{/each}}
        </div>
    {{else}}
      <h1>nothing is found</h1>
    {{/if}}
</div>